<% provide(:title, @user.username+'的事件') %>
<% provide(:page_name, @user.username+'的事件') %>
<% provide(:page_summary, "查看一定时间内发生的事件") %>

<div class="row">                        
	<div class="col-md-12">
		<ul class="timeline">
			<% pre_day ='' %>
			<% @notifications.each do |noti| %>
				<% if noti.created_at.strftime("%Y年%m月%d日") != pre_day %>
					<% pre_day = noti.created_at.strftime("%Y年%m月%d日") %>
					<li class="time-label">
						<span class="<%= noti.created_at.strftime("%w") == '0' ? 'bg-red' : 'bg-green' %>">
							<%= pre_day %>
						</span>
					</li>
				<% end %>
				<li>
					<i class="fa <%= noti.type_img %> <%= noti.type_color %>"></i>
					<div class="timeline-item">
						<span class="time"><i class="fa fa-clock-o"></i> 
							<%= distance_of_time_in_words_to_now(noti.created_at) %>前</span>
						<h3 class="timeline-header"><%= raw noti.title %></h3>
						<div class="timeline-body">
							<%= raw noti.content %>
						</div>
						<div class='timeline-footer'>
							<%= raw noti.footer %>
						</div>
					</div>
				</li>
			<% end %>
			<li>
				<i class="fa fa-clock-o"></i>
			</li>
		</ul>
	</div><!-- /.col -->
</div>