<% provide(:title, '用于注册') %>
<% provide(:bgclass, 'bg-black') %>
<div class="form-box" id="login-box">
    <div class="header"><%=t("common.logup") %> </div>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <div class="body bg-gray">
        <%= devise_error_messages! %>
        <div class="form-group">
            <%= f.text_field :loginname, :autofocus => true,:placeholder => '用户名',:class => 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.email_field :email,:placeholder => '电子邮件',:class => 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.text_field :username,:placeholder => '真实姓名',:class => 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.password_field :password,:placeholder => '密码',:class => 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.password_field :password_confirmation,:placeholder => '确认密码',:class => 'form-control' %>
        </div>
    </div>
    <div class="footer">                    
        <%= f.submit t("common.logup"), class: "btn bg-olive btn-block" %>
        <%= render "devise/shared/links" %>
    </div>
    <% end %>
    <%= render "shared/social_network_login" %>
</div>