<div class="user-panel">
	<div class="pull-left image">
		<a href="<%= edit_user_registration_path %>"><%= gravatar_for @user,:large %></a>
	</div>
	<div class="pull-left info">
		<p>你好,&nbsp;<%= @user.username %></p>
		<a href="#"><i class="<%= @user.get_level_view %>"></i> <%= @user.user_type.name if @user.user_type %></a>
	</div>
</div>