<ul class="sidebar-menu">
	<li class="parents">
		<a href="#">
			<span style="font-size: 20px">我的目录</span> 
			<button class="btn btn-mini btn-success pull-right" onclick="window.location.href='<%= new_user_admin_folder_path(@user.loginname) %>';return false;" type="button">新建</button>
		</a>
	</li>
	<% @folder_groups.each do |f| %>
	<% if f.folders.count != 0 %>
	<li class="treeview">
		<a href="#">
			<strong><%= f.name %></strong>
			<i class="fa fa-angle-left pull-right"></i>
		</a>
		<ul class="treeview-menu">
			<% f.folders.each do |item| %>
			<li>
				<a href="<%= admin_folder_path(item.id) %>">
					<i class="fa <%= item.folder_type.image_path %>"></i> <%= item.name %>
					<small class="badge bg-yellow"><%= item.doc_count %></small>
				</a>
			</li>	
			<% end %>
		</ul>
	</li>
	<% end -%>
	<% end %>
	

	<% @folders.each do |f| %>
	<li>
		<a href="<%= admin_folder_path(f.id) %>">
			<i class="fa <%= f.folder_type.image_path %>"></i> <span><%= f.name %></span>
			<small class="badge bg-yellow"><%= f.doc_count %></small>
		</a>
	</li>
	<% end -%>
</ul>
