<% provide(:title, '用户空间') %>
<% provide(:bgclass, 'skin-black') %>
<div class="row">
	<br>
	<br>
	<br>
</div>
<div class="row opacity95">
	<div class="col-md-7" id="doc_container">
		<%= render :partial => '/users/doc',:collection => @docs%>
	</div>
	<div class="col-md-5">
		<%= render_cell :sidebar, :search,:user => @home_user %>
		<%= render_cell :sidebar, :folders,:user => @home_user %>
		<%= render_cell :sidebar, :tags,:user => @home_user %>
	</div>
</div>
<%= paginate @docs %>


<%= javascript_include_tag "inscroll", "data-turbolinks-track" => true %>