<ul class="nav nav-tabs " id="config_folder_nav">

	<li><a href="<%= edit_admin_folder_path(folder) %>">基本信息</a></li>
	<li><a href="<%= config_property_admin_folder_path(folder) %>">文档属性</a></li>
	<li><a href="<%= config_doc_view_admin_folder_path(folder) %>">文档视图</a></li>
	<li><a href="<%= config_static_properties_admin_folder_path(folder) %>">静态属性</a></li>
	<li><a href="<%= config_permission_admin_folder_path(folder) %>">访问权限</a></li>
	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			目录继承<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="<%= config_share_permission_admin_folder_path(folder) %>">继承范围</a></li>
			<li><a href="<%= config_share_property_admin_folder_path(folder) %>">继承权限</a></li>
		</ul>
	</li>
</ul>
