<ul class="nav nav-tabs " id="config_folder_nav">
	<li><a href="<%= admin_folder_path(folder) %>">文档</a></li>
	<li><a href="<%= admin_folder_documents_path(folder) %>">数据表</a></li>
  <li><a href="<%= children_folder_admin_folder_path(folder) %>">子目录文档</a></li>
  <li><a href="<%= children_folder_admin_folder_documents_path(folder) %>">子目录数据表</a></li>
</ul>
<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <% if my_doc %>
      <%= link_to("新建文档", new_admin_folder_document_path(folder),class: "navbar-brand bg-green" ) %>
    <% end %>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    
<!--     <form  class="navbar-form navbar-left navbar-input-group" role="search">
      <div class="form-group">
        <input type="text"  class="form-control" placeholder="关键词">
      </div>
      <button type="submit" class="btn btn-default">查找</button>
    </form> -->
    <%= form_tag("", method: "get",class: "navbar-form form-inline navbar-left navbar-input-group") do %>
    <% unless my_doc %>
    <div class="input-group" style="width: 86px;margin-bottom: inherit;">
      <input type="checkbox" name="level" class="switch switch-small" data-on="primary" data-off="info" data-on-label="一层" data-off-label="多层" <%= "checked='checked'" if one_level %> />
    </div>
    <div class="input-group" >
      <% children =folder.child_folders.map { |i| ["#{i.user.username}:#{i.name}",i._id] }.unshift(['','']) %>
      <%= select_tag("child", options_for_select(children,query_child),{id: "", class: "form-control select2"}) %>
    </div >
    <div class="input-group" style="width: 6px;"></div>
    <% end %>

    <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="检索文档" value='<%= query_key %>'/>
      <span class="input-group-btn">
        <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
      </span>
    </div>
    <% end %>

    
    
<!--     <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#">全部状态</a></li>
      <li><a href="#">状态一</a></li>
      <li><a href="#">状态一</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">状态<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">状态一</a></li>
          <li><a href="#">状态一</a></li>
          <li><a href="#">状态一</a></li>
          <li class="divider"></li>
          <li><a href="#">状态一</a></li>
        </ul>
      </li>
    </ul> -->
  </div>
</nav>