<% provide(:title, @user.username+'的好友') %>
<% provide(:page_name, @user.username+'的好友') %>
<% provide(:page_summary, "新增好友并与好友交流") %>
<div class="row">
	<div class="col-md-3">
		<div class="box box-info">
			<div class="box-header">
				<h3 class="box-title"><i class="fa fa-user"></i> 通讯录</h3>
				<div class="box-tools pull-right" data-toggle="tooltip" title="是否在线">
					<div class="btn-group" data-toggle="btn-toggle" >
						<button type="button" class="btn btn-default btn-sm active"><i class="fa fa-square text-green"></i></button>                                            
						<button type="button" class="btn btn-default btn-sm"><i class="fa fa-square text-red"></i></button>
					</div>
				</div>
			</div>
			<div class="box-body contact">
				<input type="text" id='add-contacts'
				in-firend-url='<%= users_in_firend_user_admin_contacts_path(@user.loginname, :format => :json) %>' 
				not-firend-url='<%= users_not_firend_user_admin_contacts_path(@user.loginname, :format => :json) %>' 
				discipline-not-firend-url='<%= discipline_not_firend_user_admin_contacts_path(@user.loginname, :format => :json) %>' 
				department-not-firend-url='<%= department_not_firend_user_admin_contacts_path(@user.loginname, :format => :json) %>' 
				add-contacts-url='<%= user_admin_contacts_path(@user.loginname, :format => :json) %>' 
				class="search-query form-control typeahead" placeholder="检索并添加好友" >
				<ul class="nav nav-pills nav-stacked" id='contacts-list' style="overflow-y: auto;">
					<% @contacts.each do |con| %>
					<li id="<%= con._id %>" >
						<a href="" onclick="view_conversation('<%= get_conversation_path(@user,con.firend) %>','<%= con._id %>');return false;" data-toggle="tooltip" title="<%= con.firend.department.name if con.firend.department %>-<%= con.firend.user_type.name if con.firend.user_type %>">
							<small class="text-muted pull-right">
								<button type="button" onclick="window.location.href='<%= user_path(con.firend.loginname) %>';return false;" class="btn btn-default btn-sm"><i class="fa fa-eye text-blue"></i></button>
								<button type="button" onclick="delete_contact('<%= admin_contact_path(con) %>');return false;" class="btn btn-default btn-sm"><i class="fa fa-times text-red"></i></button> 
							</small>
							<img src="<%= con.firend.avatar_url('normal') %>" class="online"><span style="font-size: 18px;font-weight: bold;color: #3c8dbc"><%= con.firend.username %></span>
						</a>
					</li>
					<% end %>

				</ul>
			</div>
			<div class="box-footer">
				
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="box box-success">
			<div class="box-header">
				<h3 class="box-title"><i class="fa fa-comments-o"></i> 消息</h3>
				<div class="box-tools pull-right" data-toggle="tooltip" title="历史消息">
						<button type="button" class="btn btn-default btn-sm active"><i class="fa fa-list-alt text-green"></i></button>                                            
				</div>
			</div>
			<div class="box-body chat" id="message_box" style="overflow-y: auto;" >
				
			</div>
			<div class="box-footer">
				<div class="input-group">
					<input class="form-control" id="message_content" placeholder="输入消息"/>
					<div class="input-group-btn">
						<button class="btn btn-success" id="add_message" data-myavatar="<%= @user.avatar_url('normal') %>", data-myname="<%= @user.username %>"><i class="fa fa-plus"></i>发送</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>