<% provide(:title, '用户登录') %>
<% provide(:bgclass, 'skin-black') %>
<div class="form-box opacity95" id="login-box">
  <div class="header opacity85"><%=t("common.login") %></div>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name),:html => {:class => 'form_w_val'}) do |f| %>
  <div class ="body bg-gray">
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.text_field :login, :autofocus => true, :placeholder => '电子邮件或用户名',:class => 'form-control','check-type' => "required", 'required-message' => "登录名不可以为空" %>
    </div>
    <div class="form-group">
      <%= f.password_field :password,:placeholder => '密码',:class => 'form-control','check-type' => "required", 'required-message' => "密码不可以为空" %>
    </div>          
    <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.check_box :remember_me %> <%= t("common.remember_me") %>
    </div>
    <% end -%>
  </div>
  <div class="footer">                                                               
    <!-- <button type="submit" class="btn bg-olive btn-block">Sign me in</button>  --> 
    <%=f.submit t("common.login"), class: "btn bg-olive btn-block",onclick: "if($(this).closest('form').valid() == false){return false;}" %>
    <%= render "devise/shared/links" %>
  </div>
  <% end %>
  <%= render "shared/social_network_login" %>
</div>
