<li class="dropdown user user-menu">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<i class="glyphicon glyphicon-user"></i>
		<span>	<%= @user.loginname %> <i class="caret"></i></span>
	</a>
	<ul class="dropdown-menu">
		<!-- User image -->
		<li class="user-header bg-light-blue">
			
			<%= gravatar_for @user,:big %>
			<p>
				<%= @user.username%> - <%= @user.department.institution.name if @user.department %>
				<small>单位： <%= @user.department.name if @user.department%></small>
				<small>学科： <%= @user.third_disciplines.all.map { |e| e.name }.join('，') %> </small>
			</p>
		</li>
		<!-- Menu Body -->
		<li class="user-body">
			<div class="col-xs-4 text-center">
				<%= link_to "我的好友", user_admin_contacts_path(@user.loginname) %>
			</div>
			<div class="col-xs-4 text-center">
				<a href="#">我的群组</a>
			</div>
			<div class="col-xs-4 text-center">
				<%= link_to "我的事件", user_admin_notifications_path(@user.loginname) %>
			</div>
		</li>
		<!-- Menu Footer-->
		<li class="user-footer">
			<div class="pull-left">
				<%= link_to(t("common.profile"), edit_user_registration_path,class: 'btn btn-default btn-flat' ) %>
			</div>
			<div class="pull-right">
				<%= link_to(t("common.logout"), destroy_user_session_path, method: "delete",class: "btn btn-default btn-flat" ) %>
			</div>
		</li>
	</ul>
</li>
