<% provide(:title, @document.title) %>
<% provide(:page_name, @document.title) %>
<% provide(:page_summary, '查看文档内容') %>
<div class="row">
	<div class="col-md-12">
		<!-- Success box -->
		<div class="box box-success">
			<div class="box-header">
				<h4 class="box-title"><%= @document.title %></h4>
				<small class="badge bg-yellow">sci</small>
				<div class="box-tools pull-right">
					<div class="btn-group">
						<%= link_to edit_admin_document_path(@document),class: "btn btn-primary" do %>
						<i class="fa fa-edit"></i>
						<% end %>
						<a class="btn btn-info" data-toggle="modal" data-target="#property-modal"><i class="fa  fa-align-justify"></i></a>
						<button class="btn btn-primary"><i class="fa fa-tag"></i></button>
						<button class="btn btn-primary"><i class="fa fa-long-arrow-left"></i></button>
						<button class="btn btn-primary"><i class="fa fa-long-arrow-right"></i></button>
						<div class="btn-group">
							<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
								<i class="fa fa-share-square-o"></i>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#">xml</a></li>
								<li><a href="#">excel</a></li>
							</ul>
						</div>
						<%= link_to admin_document_path(@document), method: :delete, data: { confirm: "文档将被删除" },class: "btn btn-danger" do %>
						<i class="fa fa-times"></i>
						<% end %>
					</div>
				</div>
			</div>
			<div class="box-body">
				<%= raw @document.get_content %>
			</div>
			<div class="box-footer">
				<code>作者</code>
				<div class ="pull-right">
					<div class="label bg-aqua">标签</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- COMPOSE MESSAGE MODAL -->
<div class="modal fade" id="property-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"><i class="fa fa-table"></i><%= @document.title + '属性表' %></h4>
			</div>
			<%= form_for @document,url: admin_document_path(@document),html: {role: "form",class: "form_w_val",:multipart => true}  do |f| %>
				<div class="modal-body">
					<%= render partial: "admin/documents/form_property_list", locals: {document: @document} %>
				</div>
				<div class="modal-footer clearfix">
					<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i>关闭</button>
					<button type="submit" class="btn btn-success pull-left" onclick: "if($(this).closest('form').valid() == false){return false;}"><i class="fa fa-save"></i> 保存</button>
				</div>
			<% end %>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
        </div><!-- /.modal -->