<div class="form-group">
	<input type="checkbox" class="switch switch-small pull-right" data-on="primary" data-off="default" data-on-label="设置" data-off-label="继承" id="sel_permission_inherit" name="permission[inherit]" <%= "checked='checked'" unless permission.inherit %> />				
</div>
<hr>
<div id="sel_permission_config_pane">
	<div class="form-group">
		<input type="checkbox" class="switch switch-small pull-right" data-on="success" data-off="danger" data-on-label="公开" data-off-label="私有" id="sel_permission_private" name="permission[private]" <%= "checked='checked'" unless permission.privated %> />
	</div>
	<hr>
	<div id="sel_permission_public_pane">
		<div class='form-group'>
			<label for='sel_permission_public_type' class='control-label'>选择公开范围: </label>
			<%= select_tag("permission[public_type]", options_for_select([['所有用户','all'],['登录用户','user'],['自定义范围','scope']],permission.public_type),{id: "sel_permission_public_type", class: "form-control select2"}) %>
		</div>

		<div id="sel_permission_scope_pane">
			<% unless is_folder %>
				<hr>
				<div class="form-group">
					<label class="checkbox">
						<%= check_box_tag "permission[send_message]",1%>
						是否发送用户消息（选择好友和选择用户类型）
					</label>
				</div>
				<div class="form-group">
					<label class="checkbox">
						<%= check_box_tag "permission[send_group_message]",1%>
						是否发送群组消息（选择建立的组和参与的组类型）
					</label>
				</div>
			<% end %>
			<hr>
			<div class='form-group'>
				<label for='sel_permission_public_scope' class='control-label'>选择自定义范围: </label>
				<%= select_tag("permission[public_scope]", options_for_select([['我的单位','my_department'],['选择单位','sel_department'],['我的学科','my_discipline'],['选择学科','sel_discipline'],['我建立的群组','my_group'],['我参与的群组','join_group'],['我的好友','my_contact'],['选择好友','sel_contact'],['选择用户','user_list']],permission.permission_scopes.all.map { |e| e.type }),{id: "sel_permission_public_scope", multiple: true,class: "form-control select2"}) %>
			</div>
			<div class='form-group' id="sel_permission_sel_department_pane">
				<label for='sel_permission_select_department' class='control-label'>选择单位: </label>
				<%= select_tag("permission[sel_department]", grouped_options_for_select(Institution.all.inject({}) { |result,i| result[i.name]=i.departments.inject([]) { |mem, e| mem.push([e.name,e._id]) }; result },(permission.permission_scopes.where(type_cd: 2).first.array_value if permission.permission_scopes.where(type_cd: 2).exists?)),{id: "sel_permission_select_department", multiple: true,class: "form-control select2"}) %>
			</div>
			<div class='form-group' id="sel_permission_sel_discipline_pane">
				<label for='sel_permission_select_discipline' class='control-label'>选择学科: </label>
				<%= select_tag("permission[sel_discipline]", grouped_options_for_select(SecondDiscipline.all.inject({}) { |result,i| result[i.name]=i.third_disciplines.inject([]) { |mem, e| mem.push([e.name,e._id]) }; result },(permission.permission_scopes.where(type_cd: 4).first.array_value if permission.permission_scopes.where(type_cd: 4).exists?)),{id: "sel_permission_select_discipline", multiple: true,class: "form-control select2"}) %>
			</div>
			<div class='form-group' id="sel_permission_sel_mygroup_pane">
				<label for='sel_permission_select_mygroup' class='control-label'>选择我建立的组: </label>
				<% groups=user.groups.all.map { |i| [i.name,i._id] } %>
				<%= select_tag("permission[sel_mygroup]", options_for_select(groups,(permission.permission_scopes.where(type_cd: 5).first.array_value if permission.permission_scopes.where(type_cd: 5).exists?)),{id: "sel_permission_select_mygroup", multiple: true,class: "form-control select2"}) %>
			</div>
			<div class='form-group' id="sel_permission_sel_joingroup_pane">
				<label for='sel_permission_select_joingroup' class='control-label'>选择我参与的组: </label>
				<% jgroups=user.my_join_groups.map { |i| [i.name,i._id] } %>
				<%= select_tag("permission[sel_joingroup]", options_for_select(jgroups,(permission.permission_scopes.where(type_cd: 6).first.array_value if permission.permission_scopes.where(type_cd: 6).exists?)),{id: "sel_permission_select_joingroup", multiple: true,class: "form-control select2"}) %>
			</div>
			<div class='form-group' id="sel_permission_sel_contact_pane">
				<label for='sel_permission_select_contact' class='control-label'>选择我的好友: </label>
				<% contacts=user.contacts.map { |i| [i.firend.username,i.firend._id] } %>
				<%= select_tag("permission[sel_contact]", options_for_select(contacts,(permission.permission_scopes.where(type_cd: 8).first.array_value if permission.permission_scopes.where(type_cd: 8).exists?)),{id: "sel_permission_select_contact", multiple: true,class: "form-control select2"}) %>
			</div>
			<div class='form-group' id="sel_permission_sel_member_pane">
				<label for='sel_permission_select_member' class='control-label'>选择用户: </label>
				<input id="sel_permission_select_member" type="text"
					in-firend-url='<%= users_in_firend_user_admin_contacts_path(user.loginname, :format => :json) %>' 
					not-firend-url='<%= users_not_firend_user_admin_contacts_path(user.loginname, :format => :json) %>' 
					discipline-not-firend-url='<%= discipline_not_firend_user_admin_contacts_path(user.loginname, :format => :json) %>' 
					department-not-firend-url='<%= department_not_firend_user_admin_contacts_path(user.loginname, :format => :json) %>'  class="form-control">
				<div id="sel_permission_sel_member_container">
					<% user_id_list=[] %>
					<% if permission.permission_scopes.where(type_cd: 9).exists? %>
					<% permission.permission_scopes.where(type_cd: 9).first.get_users.reverse_each do |user| %>
						<% user_id_list.push user._id.to_s %>
						<a id="permission-<%= user._id %>" class="sel_permission_select_member_del"><img src="<%= user.avatar_url('normal') %>" data-toggle="tooltip" title="<%= user.username %>" class="img-circle"><i class="fa fa-times"></i></a>
					<% end %>
					<% end %>
				</div>
				<input id="sel_permission_select_member_val" name="permission[member_list]" type="hidden" value="<%= user_id_list.to_s %>"/>
			</div>

		</div>
		<hr>
		<div class="form-group" >
			<label class='control-label'>选择公开结束时间: </label>
			<input type='text' name='permission[end_date]' class='form-control sel_date' value='<%= permission.end_date.strftime("%Y年%m月%d日") if permission.end_date %>' />
		</div>
		<div class="form-group">
			<label class="checkbox">
				<%= check_box_tag "permission[list_search_visiable]",1,permission.list_search_visiable %>
				是否在列表与检索界面显示
			</label>
		</div>
	</div>

</div>

<%= javascript_include_tag "admin/sel_permission", "data-turbolinks-track" => true %>