<%= paginate @documents, :theme => 'twitter-bootstrap-3' %>
<% @documents.each do |doc| %>
<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header">
                <h1 class="box-title big-title">
                  <%= link_to doc.title, admin_document_path(doc) %>
                </h1>
                <% identify_properties.each do |pro| %>
                  <% (doc.attr_value(pro.name) || []).each do |i| %>
                      <small class="badge" style="background-color: <%= pro.identify_color %> !important;"><%= i %></small>
                    <% end %>
                <% end %>
                <div class="box-tools pull-right">
                  <%= link_to edit_admin_document_path(doc),class: "btn btn-success btn-xs" do %>
                      <i class="fa fa-edit"></i>
                  <% end %>
                  <button class="btn btn-primary btn-xs "><i class="fa fa-eye"></i></button>
                  <!-- <a class="btn btn-warning btn-xs" href="<%= permission_model_admin_document_path(doc) %>" data-toggle="modal" data-target="#permission-modal"><i class="fa fa-cog"></i></a> -->
                  <button class="btn btn-primary btn-xs "><i class="fa fa-share-square-o"></i></button>
                  <button class="btn btn-primary btn-xs" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  
                  <!-- <button class="btn btn-primary btn-xs" data-widget="remove" onclick = "$(this).next().submit()"><i class="fa fa-times"></i></button> -->
                  <%= link_to admin_document_path(doc) , method: :delete, data: { confirm: "文档#{doc.title}将被删除" },class: "btn btn-danger btn-xs" do %>
                    <i class="fa fa-times"></i>
                  <% end %>
                </div>
            </div>
            <div class="box-body">
                <%= raw doc.get_summary_content %>
            </div>
            <div class="box-footer">
                作者：<code><%= doc.folder.user.username %></code>
                <div class ="pull-right">
                  <div class="label bg-aqua">标签</div>
                  <div class="label bg-aqua">标签</div>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>
<%= paginate @documents, :theme => 'twitter-bootstrap-3' %>

<div class="modal fade" id="permission-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>