<% provide(:title, "配置:"+@folder.name) %>
<% provide(:page_name, "配置:"+@folder.name) %>
<% provide(:page_summary, "配置目录访问权限") %>
<%= render partial: 'shared/config_navbar',locals: {folder: @folder} %>
<%= config_tab(4) %>
<div class="row">
	<div class="col-md-12">
		<%= form_for @folder,url: update_permission_admin_folder_path(@folder),method: 'put',html: {role: "form",class: "form_w_val"}  do |f| %>
		<div class="box box-solid box-warning">
			<div class="box-header">
			</div>
			<div class="box-body">
				<%= render partial: "shared/admin/sel_permission", locals: {permission: @folder.permission,user: @user} %>
				<div class="form-group">
					<%= f.button "保存", class: "btn btn-success  btn-block btn-flat  btn-lg",onclick: "if($(this).closest('form').valid() == false){return false;}" %>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>