	<% provide(:title, "配置:"+@folder.name) %>
	<% provide(:page_name, "配置:"+@folder.name) %>
	<% provide(:page_summary, "配置目录中文档的共有属性") %>
	<%= render partial: 'shared/config_navbar',locals: {folder: @folder} %>
	<%= config_tab(1) %>
	<h4 class="page-header">
		<form action="#" method="get" class="sidebar-form">
			<div class="input-group">
				<input type="text" name="q" class="form-control" placeholder="搜索属性">
				<span class="input-group-btn">
					<button type="submit" name="seach" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
				</span>
			</div>
		</form>
	</h4>
	<div class="row connectedSortable">
		<% @properties.each_with_index do |p,i| %>
			<% unless p.name.blank? %>
				<div class="col-md-3 col-sm-6 ">
					<div class="box box-solid box-primary property-box-g">
						<div class="box-header">
							<h3 class="box-title"><i class='fa <%= p.type_image() %>'></i>|<%= p.name %></h3>
							<div class="box-tools pull-right">
								<button class="btn btn-primary btn-sm" data-widget="collapse"><i class="fa fa-cog"></i></button>
								 <!-- <button class="btn btn-default btn-sm" data-widget="remove" onclick = "$(this).next().submit()"><i class="fa fa-times"></i></button> -->
								 <%= link_to admin_folder_property_path(@folder,p) , method: :delete, data: { confirm: "属性#{p.name}将被删除" },class: "btn btn-danger btn-sm" do %>
                    				<i class="fa fa-times"></i>
                  				 <% end %>
								 
							</div>
						</div>
						<%= form_for p, url: admin_folder_property_path(@folder,p), method: :put, html: {role: "form",class: "form_w_val"} do |f| %>
						<div class="box-body property-box" style="display:none">
							<div class="form-group">
								<%= f.text_field :name, placeholder: "属性名（建议使用英文字母组合）", class: "form-control", 'check-type' => "required", 'required-message' => "请填写属性名", maxlength: "15" %>
							</div>
							<div class="form-group">
								<%= f.text_field :show_name, placeholder: "属性显示名称", class: "form-control",'check-type' => "required", 'required-message' => "请填写属性显示名", maxlength: "30" %>
							</div>
							<div style="-moz-border-radius: 5px;  -webkit-border-radius: 5px; border: 1.5px solid #600; padding: 10px;">
								<% if [:string, :text, :integer,:number,:file,:array,:pdf,:picture,:video,:music].include? p.type %>
								<div class="form-group">
									<div class="row" >
										<div class="col-xs-6">
											<%= f.text_field :min_value,placeholder: "最小值",class: "form-control inputnumber",maxlength: "6" %>
										</div>
										<div class="col-xs-6">
											<%= f.text_field :max_value,placeholder: "最大值",class: "form-control inputnumber",maxlength: "6" %>
										</div>
									</div>
								</div>
								<% end %>
								<% if [:string,:integer,:number].include? p.type %>
								<div class="form-group">
									<div class="row" >
										<div class="col-xs-6">
											<%= f.text_field :front_ext,placeholder: "前导字符",class: "form-control",maxlength: "6" %>
										</div>
										<div class="col-xs-6">
											<%= f.text_field :back_ext,placeholder: "后导字符",class: "form-control",maxlength: "6" %>
										</div>
									</div>
								</div>
								<% end %>
								<% if [:string,:text].include? p.type %>
								<div class="form-group">
									<%= f.text_field :string_format,placeholder: "字符串匹配格式",class: "form-control",maxlength: "500"%>
								</div>
								<% end %>
								<% if [:enum,:muli_enum].include? p.type %>
								<div class="form-group">
									<%= f.text_field :enum_option,placeholder: "选择项（逗号或回车分割）",class: "form-control modify_property_enum_options",maxlength: "20"%>
								</div>
								<% end %>
								<% if :file == p.type %>
								<div class="form-group">
									<%= f.text_field :file_type,placeholder: "可以接受的文件后缀",class: "form-control modify_property_file_type",maxlength: "10"%>
								</div>
								<% end %>
								<% if :data_sheet == p.type %>
								<div class="form-group">
									<div class="row" >
										<div class="col-xs-6">
											<%= f.text_field :data_x,placeholder: "列数",class: "form-control inputnumber",maxlength: "4" %>
										</div>
										<div class="col-xs-6">
											<%= f.text_field :data_y,placeholder: "行数",class: "form-control inputnumber",maxlength: "4" %>
										</div>
									</div>
								</div>
								<% end %>
							</div>
							<div class="control-group">
								<label class="control-label push-left">高级选项:</label>
								<input type="checkbox" class="switch switch-small pull-right modify_property_adv" data-on="primary" data-off="default" data-on-label="打开" data-off-label="关闭" />				
							</div>
							<hr>
							<div class="modify_property_adv_pane" style="-moz-border-radius: 5px;  -webkit-border-radius: 5px; border: 1.5px solid #600; padding: 10px;">	
								<div class="control-group">								
									<label class="checkbox">
										<%= f.check_box :require%>
										必填属性
									</label>
									<label class="checkbox">
										<%= f.check_box :static%>
										静态属性
									</label>
									<label class="checkbox">
										<%= f.check_box :view_in_grid%>
										数据库列表可见
									</label>
									<label class="checkbox">
										<%= f.check_box :edit_in_grid%>
										数据库列表可编辑
									</label>
									<label class="checkbox">
										<%= f.check_box :onlyread %>
										只读属性
									</label>
									<label class="checkbox">
										<%= f.check_box :disable%>
										禁用属性
									</label>
								</div>
								<div class="control-group">
									<%= f.text_area :description, placeholder: "属性说明",class: "form-control",maxlength: "1000" %>
								</div>
							</div>
						</div>
						<div class="box-footer property-box" style="display:none">
							<button type="submit" class="btn btn-lg btn-primary btn-block" onclick = "if($(this).closest('form').valid() == false){return false;}">修改属性</button>
						</div>
						<% end %>
					</div><!-- /.box -->
				</div><!-- /.col -->
			
			<% if ((i+1) % 4) == 0 %>
			</div><div class="row connectedSortable">
			<% end %>
			<% end %>
		<% end %>
		<div class="col-md-3 col-sm-6 ">
			<!-- Default box -->
			<div class="box box-solid box-danger">
				<div class="box-header">
					<h3 class="box-title">新建属性</h3>
					<div class="box-tools pull-right">
						<button class="btn btn-default btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
					</div>
				</div>
				<%= form_for @property, url: admin_folder_properties_path(@folder.id), html: {role: "form",class: "form_w_val"} do |f| %>
				<div class="box-body">
					<div class="form-group">
						<%= f.text_field :name, placeholder: "属性名（建议使用英文字母组合）", class: "form-control", id: "add_property_name", 'check-type' => "required", 'required-message' => "请填写属性名", maxlength: "15" %>
					</div>
					<div class="form-group">
						<%= f.text_field :show_name, placeholder: "属性显示名称", class: "form-control", id: "add_property_showname",'check-type' => "required", 'required-message' => "请填写属性显示名", maxlength: "30" %>
					</div>
					<div class="form-group">
						<%= f.collection_select :type, PropertyType.all, :type_view, :name, {},{id: "add_property_type",class: "select2 form-control" } %>
					</div>
					<div class="form-group">
						<label class="control-label push-left">属性类型选项:</label>
						<input type="checkbox" class="switch switch-small pull-right" data-on="danger" data-off="default" data-on-label="打开" data-off-label="关闭" id="add_property_custom" />				
					</div>
					<hr>
					<div id="add_property_custom_pane" style="-moz-border-radius: 5px;  -webkit-border-radius: 5px; border: 1.5px solid #600; padding: 10px;">
						<div id="add_property_maxmin_pane" class="form-group">
							<div class="row" >
								<div class="col-xs-6">
									<%= f.text_field :min_value,placeholder: "最小值",class: "form-control inputnumber",  maxlength: "6" %>
								</div>
								<div class="col-xs-6">
									<%= f.text_field :max_value,placeholder: "最大值",class: "form-control inputnumber", maxlength: "6" %>
								</div>
							</div>
						</div>
						<div id="add_property_ext_pane" class="form-group">
							<div class="row" >
								<div class="col-xs-6">
									<%= f.text_field :front_ext,placeholder: "前导字符",class: "form-control", maxlength: "6" %>
								</div>
								<div class="col-xs-6">
									<%= f.text_field :back_ext,placeholder: "后导字符",class: "form-control", maxlength: "6" %>
								</div>
							</div>
						</div>
						<div id="add_property_strformat_pane" class="form-group">
							<%= f.text_field :string_format,placeholder: "字符串匹配格式",class: "form-control", maxlength: "500"%>
						</div>
						<div id="add_property_options_pane" class="form-group">
							<%= f.text_field :enum_option,placeholder: "选择项（回车分割）",id: "enum_options",class: "form-control", maxlength: "20"%>
						</div>
						<div id="add_property_filetype_pane" class="form-group">
							<%= f.text_field :file_type,placeholder: "可以接受的文件后缀",id: "file_type",class: "form-control", maxlength: "10"%>
						</div>
						<div id="add_property_xy_pane" class="form-group">
							<div class="row" >
								<div class="col-xs-6">
									<%= f.text_field :data_x,placeholder: "列数",class: "form-control inputnumber", maxlength: "4" %>
								</div>
								<div class="col-xs-6">
									<%= f.text_field :data_y,placeholder: "行数",class: "form-control inputnumber", maxlength: "4" %>
								</div>
							</div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label push-left">高级选项:</label>
						<input type="checkbox" class="switch switch-small pull-right" data-on="danger" data-off="default" data-on-label="打开" data-off-label="关闭" id="add_property_adv" />				
					</div>
					<hr>
					<div id="add_property_adv_pane" style="-moz-border-radius: 5px;  -webkit-border-radius: 5px; border: 1.5px solid #600; padding: 10px;">	
						<div class="control-group">								
							<label class="checkbox">
								<%= f.check_box :require, {:checked =>false}%>
								必填属性
							</label>
							<label class="checkbox">
								<%= f.check_box :static, {:checked =>false}%>
								静态属性
							</label>
							<label class="checkbox">
								<%= f.check_box :view_in_grid, {:checked =>false}%>
								数据库列表可见
							</label>
							<label class="checkbox">
								<%= f.check_box :edit_in_grid, {:checked =>false}%>
								数据库列表可编辑
							</label>
							<label class="checkbox">
								<%= f.check_box :onlyread, {:checked =>false} %>
								只读属性
							</label>
							<label class="checkbox">
								<%= f.check_box :disable, {:checked =>false} %>
								禁用属性
							</label>
						</div>
						<div class="control-group">
							<%= f.text_area :description, placeholder: "属性说明",class: "form-control", maxlength: "1000"%>
						</div>
					</div>
				</div>
				<div class="box-footer">
					<button type="submit" class="btn btn-lg btn-danger btn-block" onclick = "if($(this).closest('form').valid() == false){return false;}">新增属性</button>
				</div>
				<% end %>
			</div><!-- /.box -->
		</div><!-- /.col -->
	</div>