<% provide(:title, "配置:"+@folder.name) %>
<% provide(:page_name, "配置:"+@folder.name) %>
<% provide(:page_summary, "配置目录的基本信息") %>
<%= render partial: 'shared/config_navbar',locals: {folder: @folder} %>
<%= config_tab(0) %>
<div class="row">
	<div class="col-md-12">
		<div class="nav-tabs-custom">
			<div class="tab-content">
				<div class="box-header">
					<h3 class="box-title"><%= @folder.parent_folder.nil? ? "非继承目录" : "继承自：#{@folder.parent_folder.name}（#{@folder.parent_folder.user.username}）" %></h3>
				</div><!-- /.box-header -->
				<%= form_for @folder, url: admin_folder_path(@folder), html: {role: "form",class: "form_w_val"} do |f| %>
				<div class="box-body">
					<div class="form-group">
						<label for="edit_folder_name" class="control-label">目录名</label>
						<%= f.text_field :name,class: "form-control",id: "edit_folder_name", placeholder: "我的目录", 'check-type' => "required", 'required-message' => "请填写目录名。", maxlength: "8" %>
					</div>

					<div class="form-group">
						<label for="edit_folder_type" class="control-label">目录类型</label>
						<%= f.collection_select :folder_type, FolderType.all, :id, :name, {:selected => @folder.folder_type._id},{class: "form-control select2",id:"edit_folder_type"} %>
					</div>

					<div class="form-group">
						<label for="edit_folder_group">目录集</label>
						<%= f.hidden_field :folder_group,class: "form-control",id: "edit_folder_group" %>
						<input type='hidden' id='edit_folder_group_data' value='<%= @folder_group_json %>'/>
						<input type='hidden' id='edit_folder_group_value' value='<%= @folder_group_value %>'/>
					</div>
					<div class="control-group">								
						<label class="checkbox">
							<%= f.check_box :tile,{id:"modify_folder_tile"}%>
							是否显示在主页动态磁铁
						</label>
					</div>
					<div class="form-group" id="modify_folder_tile_color_group">
						<label for="modify_folder_tile_color" class="control-label">动态磁贴背景</label>
						<%= f.text_field :tile_color,class: "form-control  sel_color",id: "modify_folder_tile_color",style: "width:100px;"%>
					</div>
					<div class="form-group">
						<label for="edit_folder_des" class="control-label">目录说明</label>
						<%= f.text_area :description,class: "form-control",id: "edit_folder_des", placeholder: "简单介绍一些吧" %>
					</div>
					<div class="box-footer">
						<%= f.button "修改目录", class: "btn btn-primary",id: "edit_folder_submit",onclick: "if($(this).closest('form').valid() == false){return false;}" %>
						<%= link_to '删除目录',admin_folder_path(@folder) , method: :delete, data: { confirm: '目录中所有文档将被删除' },class: "btn btn-danger pull-right" %>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

