<% provide(:title, '新建目录') %>
<% provide(:page_name, '新建目录') %>
<% provide(:page_summary, '新建目录及管理目录集合') %>
<div class="row">
	<div class="col-md-12">
		<div class="box box-primary">
			<div class="box-header">
				<h3 class="box-title">新建目录</h3>
			</div><!-- /.box-header -->
			<%= form_for @folder, url: user_admin_folders_path(@user.loginname), html: {role: "form",class: "form_w_val"} do |f| %>
			<div class="box-body">
				<div class="form-group">
					<label for="add_folder_name" class="control-label">目录名</label>
					<%= f.text_field :name,class: "form-control",id: "add_folder_name", placeholder: "我的目录", 'check-type' => "required", 'required-message' => "请填写目录名。", maxlength: "8" %>
				</div>

				<div class="form-group">
					<label for="add_folder_type" class="control-label">目录类型</label>
					<%= f.collection_select :folder_type, FolderType.all, :id, :name, {},{class: "form-control select2",id:"add_folder_type"} %>
				</div>

				<div class="form-group">
					<label for="add_folder_group">目录集</label>
					<%= f.hidden_field :folder_group,class: "form-control",id: "add_folder_group" %>
					<input type='hidden' id='add_folder_group_data' value='<%= @folder_group_json %>'/>
				</div>
				<div class="form-group">								
					<label class="checkbox">
						<%= f.check_box :tile, {:checked =>false,id:"add_folder_tile"}%>
						是否显示在主页动态磁铁
					</label>
				</div>
				<div class="form-group" id="add_folder_tile_color_group">
					<label for="add_folder_tile_color" class="control-label">动态磁贴背景</label>
					<%= f.text_field :tile_color,class: "form-control  sel_color",id: "add_folder_tile_color",style: "width:100px;"%>
				</div>
				<div class="form-group">
					<label for="add_folder_des" class="control-label">目录说明</label>
					<%= f.text_area :description,class: "form-control",id: "add_folder_des", placeholder: "简单介绍一些吧" %>
				</div>
				<div class="box-footer">
					<%= f.button "新建目录", class: "btn btn-primary",id: "add_folder_submit",onclick: "if($(this).closest('form').valid() == false){return false;}" %>
				</div>
			</div>
			<% end %>

		</div>
	</div>
</div>