<!DOCTYPE html>
<html class="<%= bg_skin(yield(:bgclass)) %>">
    <head>
        <meta charset="UTF-8">
        <title><%= full_title(yield(:title)) %></title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <%= stylesheet_link_tag "application", media: "all","data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
        <%= render 'layouts/shim' %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>  
    </head>
    <body class="<%= bg_skin(yield(:bgclass)) %>" id="ir-body" data-uri="<%= request.host %>:<%= request.port %>/websocket" data-viewpubu="<%= session[:view_pubu] %>" data-fixheader="<%= session[:view_fixheader] %>">
        <header class="header opacity95">
            <a href="/" class="logo">
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
                tju IR
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <%= render_cell :header, :commontitle,:huser => @home_user,:cuser => current_user,:query_key => @query_key,:ddg_name => @ddg_name %>
                <%= render_cell :header, :usertitle,:huser => @home_user,:cuser => current_user %>
                <div class="navbar-right">
                    <% if current_user %>
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <%= render_cell :admin_header, :messages,:user => current_user %>
                        <!-- groups: style can be found in dropdown.less-->
                        <%= render_cell :admin_header, :groups,:user => current_user %>
                        <!-- Notifications: style can be found in dropdown.less -->
                        <%= render_cell :admin_header, :notifications,:user => current_user %>
                        <!-- User Account: style can be found in dropdown.less -->
                        <%= render_cell :admin_header, :userinfo,:user => current_user %>
                    </ul>
                    <% else %>
                    <ul class="nav navbar-nav">
                        <li class="">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>游客<i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><%= link_to t("common.login"), new_user_session_path %></li>
                                <li><%= link_to t("common.logup"), new_user_registration_path %></li>
                            </ul>
                        </li>
                    </ul>
                    <% end %>
                </div>
            </nav>
        </header>
        
        <%= yield %>

        <%= javascript_include_tag "app", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "bottomcommon", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "picback", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "front", "data-turbolinks-track" => true %>
        <%= notice_message_with_js %>
    </body>
</html>