<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
   <%= render 'layouts/shim' %>
  </head>
  <body data-offset="50">
    <%= render 'layouts/header' %>
    <div class="container">
        <%= notice_message %>
       <div id="main" class="container-fluid">
           <%= yield %>
       </div>
       <%= render 'layouts/footer' %>
       <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
